<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=ProReLeDatabase;User ID=sa;Password=gvdasa;Persist Security Info=True;MultipleActiveResultSets=True" />
 </connectionStrings>
</configuration> 